.ViewQuiz{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.ViewQuiz__title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    color: #fff;
}
.viewQuestion__box{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}
.label_answerCheckBox{
    border: 2px dotted limegreen;
    padding: 5px;
}
.label_answerCheckBox:hover{
    background-color: limegreen;
}
.answerCheckBox{
    margin-right: 10px;
}
.answerCheckBox__img{
    max-width: 150px;
    width: auto;
    max-height: 100px;
    height: auto;
    margin-bottom: 10px;
    display: block;
}