.createQuiz{
    padding: 30px 0;
}
.createQuiz__top_info{
    margin-bottom: 30px;
}
.createQuiz__title{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    margin: 0;
}
.createQuiz_subheading{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    margin: 0;
}
.createQuiz__view{
    display: flex;
    gap: 50px;
}
.createQuiz__ConfigView{
    max-width: 450px;
    width: 100%;
    height: max-content;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #80cbff;
    background: rgb(0 255 250 / 5%);
    box-shadow: 0px -4px 4px rgb(0 255 250 / 20%), 0px 4px 4px rgb(0 255 250 / 20%), inset 0px 0px 6px rgb(0 255 250 / 80%);
}
.createQuiz__ConfigView__title{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin: 0;
    color: #00FFFA;
}
.createQuiz__ConfigView__view{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 10px 0 20px 0;
    color: #00FFFA;
}
.createQuiz__ConfigView__actions{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.createQuiz__questions{
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #80cbff;
    background: rgb(0 255 250 / 5%);
    box-shadow: 0px -4px 4px rgb(0 255 250 / 20%), 0px 4px 4px rgb(0 255 250 / 20%), inset 0px 0px 6px rgb(0 255 250 / 80%);
}
.createQuiz__questions > .button{
    margin-bottom: 20px;
}
.createQuiz__question{
    width: 100%;
    color: #00FFFA;
    height: max-content;
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #80cbff;
    background: rgb(0 255 250 / 5%);
    box-shadow: 0px -4px 4px rgb(0 255 250 / 20%), 0px 4px 4px rgb(0 255 250 / 20%), inset 0px 0px 6px rgb(0 255 250 / 80%);
}
.createQuiz__question:last-child{
    margin-bottom: 0;
}
.createQuiz__questionTitle{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    color: #00FFFA;
}
.createQuiz__question_img,.createQuiz__question__answer__img{
    max-width: 150px;
    width: auto;
    max-height: 100px;
    height: auto;
    margin-bottom: 10px;
}
.createQuiz__question__answers{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: end;
}
.createQuiz__question__answer__title{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    position: relative;
    padding-left: 25px;
}
.createQuiz__question__answer__title:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #00FFFA;
    border-radius: 50%;
}
.createQuiz__question__answer.correct .createQuiz__question__answer__title:before{
    background-color:  #00FFFA;
}
.createQuiz__question__config{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.createQuiz__question__config__text{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 3px;
    border: 1px dotted gray;
    margin: 0;
    margin-top: 15px;
}
.createQuiz__question__actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 100%;
}