.registration{
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.registration__heading{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 56px;
    margin: 0;
}
.registration__subheading{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 20px;
    margin: 0;
    margin-top: 5px;
}

.registration__form_window{
    border-radius: 10px;
    margin-top: 30px;
    overflow: hidden;
}
.registration__option{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-registration__option{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    width: 100%;
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    opacity: 0.6;
    cursor: pointer;
    padding: 0;
}
.button-registration__option:hover{
    opacity: 1;
    background-color: transparent;
}
.button-registration__option.active{
    color: #000;
    background-color: #fff;
    opacity: 1;
}
.registrationFromButton{
    margin-top: 30px;
}